IM_BUILD_NONCE=0
IM_IMAGE_TAG=local

# MySQL
MYSQL_ROOT_PASSWORD=root123
MYSQL_PORT=3306

# Redis
REDIS_PORT=6379

# Kafka
KAFKA_PORT=9092
KAFKA_BOOTSTRAP_SERVERS=im-kafka:9092

# im-server
IM_SERVER_HOST_PORT=8085
IM_SERVER_CONTAINER_PORT=8083
AUTH_SERVICE_URL=http://im-auth:8084
IM_INTERNAL_HEADER=X-Internal-Secret
IM_INTERNAL_SECRET=im-internal-secret
IM_SERVICE_URL=http://im-server:8083
IM_SERVER_DB_URL=jdbc:mysql://im-mysql:3306/service_im_server_db?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
IM_SERVER_DB_USERNAME=root
IM_SERVER_DB_PASSWORD=root123
